/* FONT-FACE */
@font-face {
  font-family: "Hanken Grostesk";
  src: url(../fonts/HankenGrotesk-ExtraBold.woff2) format("woff2"),
       url(../fonts/HankenGrotesk-ExtraBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hanken Grostesk";
  src: url(../fonts/HankenGrotesk-Medium.woff) format("woff2"),
       url(../fonts/HankenGrotesk-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hanken Grostesk";
  src: url(../fonts/HankenGrotesk-Bold.woff) format("woff2"),
       url(../fonts/HankenGrotesk-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background-color: #ECF2FF;
  color: #222;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
/* BUTTON */
.button {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  border-radius: 128px;
  line-height: normal;
  margin-top: 35px;
  display: inline-block;
  padding: 16px 32px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #303b59;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
.button:hover {
  background: #2f2ce9;
}
/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}
/* RESULT-CIRCLE */
.result-circle  {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #4d21c9 0%, rgba(37, 33, 201, 0.00)100%, rgba(37, 33, 201, 0.00)100%);
}
.result-circle__result {
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  margin-bottom: 12px;
}
.result-circle__of {
  opacity: 0.5168;
  font-weight: 700;
}
/* COMPONENT-WRAPPER */
.component-wrapper {
  display: flex;
  align-items: center;
  max-width: 736px;
  margin: 71px auto 0px auto;
  border-radius: 32px;
  background-color: #fff;
  box-shadow: 0px 30px 60px 0px rgb(61, 108, 236, 0.15);
}

.result-box {
  max-width: 368px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 54px 54px;
  border-radius: 32px;
  border-image: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  background-color: #2f2ce9;
  color: #cac9ff;
  text-align: center;
}
.result-box__heading {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 24px;
}
.result-box__result-circle {
  margin-bottom: 28px;
} 
.result-box__message-title {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 14px;

}
.result-box__message-content {
  margin: 0;
  line-height: 1.5;
}
/* STATS-LIST */
.stats-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.stats-list__item {
  display: flex;
  padding: 16px;
  border-radius: 12px;
}
.stats-list__item:not(:last-child) {
  margin-bottom: 16px;
}
.stats-list__item-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.stats-list__item-title {
  flex-grow: 1;
  margin-right: 12px;
}
.stats-list__item-result {
  color: #303b59;
  font-weight: 700;
  margin-right: 8px;
}
.stats-list__item-max {
  color: rgb(48, 59, 89, 0.5);
}
.stats-list__item--reaction {
  color: #f55;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%) #f55;
}
.stats-list__item--memory {
  color: #ffb21e;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%) #ffb21e;
}
.stats-list__item--verbal {
  color: #00bb8f;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%) #00bb8f;
}
.stats-list__item--visual {
  color: #1125d6;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%) #1125d6;
}
/* SUMMARY-BOX */
.summary-box {
  padding: 40px;
}
.summary-box__heading {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 28px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

@media only screen and (max-width: 740px) {
  .component-wrapper {
    flex-direction: column;
    align-items: stretch;
    margin-top: 20px;
    max-width: 100%;
  }
  .result-box {
    max-width: 100%;
  }
  .summary-box {
    max-width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .component-wrapper {
    margin: 0;
  }
  .result-box {
    border-radius: 0px 0px 32px 32px;
  }
  .result-circle {
    width: 140px;
    height: 140px;
  }
  .result-circle__result {
    margin-bottom: 0;
    font-size: 56px;
    line-height: 72px;
  }
  .result-circle__of {
    font-size: 16px;
  }
  .result-box__heading {
    margin-bottom: 24px;
    font-size: 18px;
  }
.summary-box {
  padding: 24px 32px 32px;
}
.summary-box__heading {
  font-size: 18px;
  margin-bottom: 28px;
}
}